node_modules
package.json
package-lock.json
docs
.DS_Store
.vscode
.github
dist
nix-shell
README.md
.env
*.rl
*.rain
*.rainlang
*.vsix
*.json
.vscode-test
.vscode-test-web
out
fixture