.vscode
.vscode/**
.github
.github/**
.vscode-test
.vscode-test-web
.gitignore
# **/*.ts
# **/*.map
# **/tsconfig.json
# **/tsconfig.base.json
contributing.md
.travis.yml
.DS_Store
# client/node_modules/**
# !client/node_modules/vscode-jsonrpc/**
# !client/node_modules/vscode-languageclient/**
# !client/node_modules/vscode-languageserver-protocol/**
# !client/node_modules/vscode-languageserver-types/**
# !client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
# !client/node_modules/{semver,lru-cache,yallist}/**
shell.nix
node_modules
server/
client/
scripts/
test/
fixture/
tsconfig.json
.env
*.rl
*.rain
*.rainlang
*.vsix
webpack.dev.js
webpack.prod.js